@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --primario: #222831;
    --secundario: #393e46;
    --verde-agua: #00adb5;
    --verde-agua-osc: #023638;
    --blanco1: #FFFFFF;
    --blanco2: #F1F1F1;
    --blanco3: #EEEEEE;
    --sombra: 0 8px 8px;
    --color_sombra: #00000033;
    --color_sombra-2: #026366d5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
body {
    background: url("img/fondo-colores.jpg");
    font-family: 'Lato', sans-serif;
}

h2 {
    color: var(--blanco3);
    font-size: 24px;
    font-weight: 400;
}
p {
    color: var(--blanco2);
    font-size: 24px;
    font-weight: 700;
}

li {
    color: var(--blanco3);
    font-size: 24px;
    font-weight: 700;
    padding: 5px;
}
img.hero {
    margin-right: 50px;
}

/* SECCIONES*/
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
    padding-top: 30px;
    height: auto;
}
/* NAVBAR */
.inicio {
    width: 100%;
}

.nombre-color {
    font-weight: 900;
    color: var(--verde-agua);

}

.nav__inicio {
    background-color: var(--secundario);
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 10px;
    border-bottom: 2px solid var(--verde-agua);
}
.links {
    display: flex;
    padding: 10px;
}

.link,
.boton-comenzar{
    display: inline-block;
    color: var(--blanco2);
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
}

.link:hover{
    color: var(--verde-agua);
}

.boton-comenzar{
    background-color: var(--verde-agua);
    border-radius: 6px;
    border: 2px solid var(--verde-agua);
    box-shadow: var(--sombra) var(--color_sombra-2);
    font-weight: 900;
}

.boton-comenzar-sel{
    background-color: var(--secundario);
    border-radius: 6px;
    border: 2px solid var(--verde-agua);
    box-shadow: var(--sombra) var(--color_sombra-2);
    font-weight: 900;
    color: var(--blanco2);
}

.boton-comenzar:hover {
    background-color: var(--secundario);
    border: 2px solid var(--verde-agua);
}
/* HERO */
.inicio__principal{
    display: grid;
    text-align: center;
}

.titulo{
    color: var(--blanco2);
    font-size: 48px;
    font-weight: 700;
}

.resaltar {
    font-weight: 900;
    color: var(--primario);
    background-color: var(--verde-agua);
}

.row__hero{
    padding-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    text-align: start;
    align-items: center;
}

.documentacion{
    display: flex;
    padding: 20px;
}

.docs{
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f1f1f1cc;
    border-radius: 10px;
    padding: 5px;
}

.texto-oscuro{
    color: var(--secundario);
    font-size: 18px;
    padding: 0 20px;
}
.boton-comenzar.como{
    box-shadow: none;
    padding: 10px;
}
.boton-comenzar.como:hover{
    background-color: transparent;
    border: 2px solid var(--verde-agua);
    color: var(--primario);
    box-shadow: none;
}

.veag {
    color: var(--verde-agua);
}