@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --fondo:#1C1B1F;
    --azulprim:#3282B8;
    --azulosc:#1E252E;
    --dorado:#F4BD76;
    --blanco1:#FFFFFF;
    --blanco2:#F1F1F1;
    --sombra: 0 8px 8px;
    --color_sombra: #00000033;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Aplica a todo el documento*/
body {
    background-color: var(--fondo);
    font-family: 'Roboto', serif;
    
}
/*Portada de pagina*/
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.inicio {
    color: var(--blanco2);
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, #1C1B1F 0%, #3282B8 100%);
}

.nav__inicio {
    height: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}

.nombre__grupo {
    font-size: 24px;
    font-weight: 300;
}
.grupo_negrita {
    font-weight: 700;
}

.link {
    display: inline-block;
    flex: auto;
    color: var(--blanco2);
    text-decoration: none;
    font-weight: 400;
    padding: 10px;
}

.link:hover {
    display: inline-block;
    background: var(--blanco2);
    text-decoration: none;
    color: var(--azulprim);
    font-weight: 900;
    border-radius: 6px;
    box-shadow: var(--sombra) var(--color_sombra);
}

.link:active {
    display: inline-block;
    background: var(--fondo);
    text-decoration: none;
    color: var(--azulprim);
    font-weight: 900;
    border-radius: 6px;
    box-shadow: var(--sombra) var(--color_sombra);
}

.inicio__principal {
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    padding: 0;
}

.imagen {
    object-fit: cover;
    width: 48%;
    max-height: 90vh;

}

.titulo {
    font-size: 48px;
    font-weight: 600;
    color: var(--blanco1);
    text-shadow: var(--sombra) var(--color_sombra);
}

.copia {
    font-size: 24px;
    font-weight: 300;
    color: var(--blanco2);
    text-shadow: var(--sombra) var(--color_sombra);
    margin: 15px 0;
}

.copia__negrita {
    font-weight: 700;
}

.comenzar {
    padding: 20px 60px;
    display: inline-block;
    background: linear-gradient(180deg, #19A2FE 0%, #3282B8 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 900;
    font-size: 20px;
    box-shadow: var(--sombra) var(--color_sombra);
    border-radius: 6px;
}

.comenzar:hover {
    background: var(--blanco2);
    color: var(--azulprim);
}