.nosotros {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    padding-top: 30px;
    height: auto;
}

#titulo-eq {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}

.container-nos {
    display: flex;
    justify-content: space-evenly;
}

.profile-image {
    width: 150px;
    height: 150px;
    background: url("img/no-pic-profile.png");
    background-position: center;
    background-size: 120px;
    background-repeat: no-repeat;
}

.card {
    width: 300px;
    height: 260px;
    background: var(--primario);
    border-radius: 12px;
    box-shadow: var(--sombra) var(--color_sombra-2);
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: var(--primario) 0.2em solid;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.card:hover {
    border: var(--verde-agua) 0.2em solid;
}

.name {
    font-weight: 900;
    color: var(--blanco1);
}